//Block template
.clean-side-padding
    padding-left: 0
    padding-right: 0

//End block template

//Main menu
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a
    border-radius: 5px 5px 0 0
    background: $color-primary !important
.navbar
    +bgrepx-tc("headerbg.jpg")
    border: none
    border-radius: 0
    margin-bottom: 0
    box-shadow: 0 0 15px rgba(0,0,0,0.8)
    z-index: 100
    +below($breakpoint2)
        .container
    .navbar-header 
        .logo 
            img
                +size(auto, 70px)
                +below($breakpoint2)
                    +size(auto, 50px)

    //Menu cap 1
    ul.menu
        margin-top: 25px

        //Dinh dang font danh cho tat ca cac link cap duoi
        a
            font: 18px $titlefont
            color: $color-title !important
            padding: 5px 10px

        & > li
            margin-left: 10px
            
            //Danh cho cac menu khong co menu cap 2

            & > a.active-trail,
                background: none
                border-radius: 5px

            & > a.active-trail:hover,
                border-radius: 5px
                background: $color-primary
            
            //Danh cho cac menu co menu cap 2
            &.expanded:not(.open)
                & > a.dropdown-toggle:hover
                    background: $color-primary
                    border-radius: 5px

            //Menu cap 2
            & > .dropdown-menu
                border: none
                background: $color-primary
                box-shadow: 3px 3px 5px rgba(0,0,0,0.3)
                padding: 0
                overflow: hidden
                border-radius: 0 5px 5px 5px
                li
                    margin-left: 0
                    a
                        font-size: 16px
                        padding: 10px 15px
                        &:focus,
                        &:hover
                            color: $color-primary
                            background: darken($color-primary, 10%) 
                    &.active > a
                        background: $color-primary

        //Cac truong hop dac biet cua menu cap 1
        & > .buy-button
            margin-left: 15px
            a
                +opacity-hover
                background-image: linear-gradient(to bottom, $color-title, darken($color-title,30%), $color-title)  !important
                color: #fff !important
                border-radius: 40px
                box-shadow: 1px 1px 10px rgba(0,0,0,0.4)

    //Navbar mobile version
    +below($breakpoint2)
        background: $color-primary
        .icon-bar
            height: 1px
            background: #fff !important
        .navbar-toggle,
        .navbar-toggle:focus
            background: none
        .navbar-collapse
            padding: 0
        ul.menu
            margin: 0
            li
                a
                    font-size: 15px
                    color: #fff
                    border-bottom: 1px solid rgba(255,255,255,0.3)
                &.active,
                &:hover,
                &:focus
                    a
                        background: none !important
                        color: #fff !important
                        border-bottom: 1px solid rgba(255,255,255,0.3)
                .dropdown-menu
                    li
                        a
                            padding-top: 5px
                            padding-bottom: 5px
    //End Navbar mobile version
//End Main menu

.slideshow,
.slideshow-hoidap
    .flexslider
        border: none
        margin-bottom: 0
        .flex-control-nav
            bottom: 20px
            z-index: 10
        .flex-direction-nav
            a
                height: 60px

.home-link
    margin-top: 20px
    .view-content
        +flex-row
        .views-row:nth-child(1),
        .views-row:nth-child(4)
            width: 100%
        .views-row:nth-child(2),
        .views-row:nth-child(3)
            width: 50%
            +below($breakpoint2)
                width: 100%

.home-baiviet
    margin-top: 20px
    .view-content
        +flex-row
        .views-row
            +above($breakpoint2)
                margin-bottom: 0

            .views-field-field-image
                +leftblock(35%)
            .fieldset
                +leftblock(65%)

//FOOTER BLOCKS
.footerinfo,
    +below($breakpoint2)
        margin-bottom: 20px
    .views-field-body
        color: #fff
        p.icon
            padding-left: 30px
            background-size: 20px 20px !important
            &.diachi
                +bgnorep-lc("icon-home1.svg")
            &.website
                +bgnorep-lc("icon-web1.svg")
            &.phone
                +bgnorep-lc("icon-phone1.svg")
            &.mail
                +bgnorep-lc("icon-mail1.svg")
            &.facebook
                +bgnorep-lc("icon-facebook1.svg")
        a
            color: #fff

.footerinfo2
    margin-top: 30px
    .views-field-body
        text-align: center
        color: rgba(255,255,255,0.5)
        font-size: 12px
        font-style: italic

.footerinfo3
    .views-field-body
        text-align: right
        color: #fff

.fanpage
    +below($breakpoint2)
        margin-bottom: 20px

.hotline-mobile
    +above($breakpoint2)
        +hide
    +posfix3(0,0)
    z-index: 10
    +size(120px,120px)
    .view-content
        .views-row
            .views-field-field-custom-url
                a
                    +size(120px,120px)
                    +bgnorep-cc("anim-phone.gif")
                    background-size: 100% 100%

//Popup trang chu
#block-views-block-link-popup-home
    display: none
.block-views-block-link-popup-home-modal
    .spb_center
         margin-left: -300px
         margin-top: -250px
    .block-views-block-link-popup-home-modal-close

//Trang mua hang
.buy-helper,
    padding: 0 15%
    +below($breakpoint2)
        padding: 0
.webform-submission-contact-form
    +centerblock(70%)
    +bgnorep-tc("headerbg.jpg")
    background-size: 100% 100%
    border-radius: 5px
    padding: 15px 30px 10px
    text-align: center
    +below($breakpoint2)
        padding: 20px 20px 10px
        width: 100%
        .form-item-name
            .form-text
                margin-bottom: 15px
    .webform-confirmation__message
        color: #fff
        font: 20px/30px $titlefont
    .form-text, .form-textarea, .form-email
        border-radius: 0
        font: 18px $globalfont
        padding: 20px 10px
        border-radius: 10px
        border: 2px solid $color-primary
    .form-actions
        text-align: center
        .form-submit
            +opacity-hover
            background-image: linear-gradient(to bottom, $color-title, darken($color-title,30%), $color-title)  !important
            border: none
            border-radius: 30px
            font: 22px/45px $titlefont
            padding: 0 35px
            color: #fff
            box-shadow: 1px 1px 10px rgba(0,0,0,0.4)
            text-transform: uppercase
            

//Trang hoi dap
.hinh-anh-trang-hoi-dap
    +centerblock(70%)
    +below($breakpoint2)
        width: 100%
    .view-content
        +flex-row-center

.webform-submission-gui-cau-hoi-form
    padding: 0 15%
    +below($breakpoint2)
        padding: 0
    .form-text, .form-textarea, .form-email
        border: 1px solid $color-primary
        +below($breakpoint2)
            margin-top: 10px
    .form-actions
        text-align: center
        .form-submit
            +opacity-hover
            background: $color-primary
            border: none

.home-chiase
    margin-bottom: 50px
    .block-title
        text-align: center
        font-size: 30px
    .view-content
        .views-row
            margin-bottom: 0
            .fieldset
                margin: 20px 0 0
                padding: 0
                clear: both
                width: 100%
                overflow: hidden
                float: none
                .views-field-field-image
                    width: auto
                    margin-right: 20px
                    img
                        border-radius: 30px
                .views-field-field-custom-url
                    font: bold 20px/50px $titlefont
                    color: $color-primary
            .views-field-body
                border: 1px dashed $color-primary
                padding: 15px
                margin-top: 20px
                font: 14px/20px $globalfont
                color: $color-text
                border-radius: 10px
    .more-link
        text-align: center
        margin-top: 20px
        a
            +opacity-hover
            +no-underline-hover
            display: inline-block
            font: 15px/30px $globalfont
            padding: 0 20px
            background: $color-primary
            color: #fff
            border-radius: 5px

.menufooter
    h2
        +nopadmar
        margin-bottom: 10px
        color: #fff
        font: bold 20px $titlefont
    .menu
        +nopadmar
        li
            margin-bottom: 10px
            a
                +nopadmar
                font: 13px $globalfont
                color: #fff
                &:hover
                    background: none
                    text-decoration: underline