/*Trang chủ*/
.path-frontpage
    .page-header,
    article
        +hide
    .main-container
        padding-bottom: 0px
        .header-group
            +hide

.node--type-article
    padding: 0 15%
    text-align: justify
    padding-bottom: 40px
    img
        +size(100%,auto)
        margin: 20px 0
    & > .bs-region
        padding-left: 0
        padding-right: 0

    +below($breakpoint2)
        padding: 0
        font-size: 16px

