.view-content
    .flexslider .slides li,
    .views-row
        position: relative
        .views-field-edit-node
            +posabs1(5px,5px)
            +size(25px,25px)
            +bgnorep-cc("icon-edit.svg")
            +opacity-hover
            background-size: 60% 60%
            border-radius: 5px
            background-color: rgba(0,0,0,0.8)
            border: 1px solid rgba(0,0,0,0.4)
            a
                +size(100%,100%)
                opacity: 0
            &:hover

.article-list
    .view-content
        +flex-row
        .views-row
            margin-bottom: 30px
            .views-field-field-image
                +leftblock(30%)
                img
                    +size(100%, auto)
            .fieldset
                +leftblock(70%)
                padding-left: 20px
                .views-field-title
                    a
                        font: bold 17px/20px $titlefont
                        color: $color-primary
                        &:hover
                            text-decoration: none
                .views-field-body
                    margin-top: 10px
                    font: 13px/20px $globalfont
                    color: $color-text
                    text-align: justify
                .views-field-view-node
                    margin-top: 5px
                    text-align: left
                    a
                        +opacity-hover
                        display: inline-block
                        font: 13px $globalfont
                        color: $color-primary


.article-list.hoidap
    padding-top: 20px
    .view-content
        +centerblock(70%)
        +below($breakpoint2)
            width: 100%
        .views-row
            margin-bottom: 10px
            .views-field-body-1,
            .views-field-body
                color: #666
                font-size: 15px
                .views-label
                    font: bold 20px $titlefont
                    color: $color-primary
                .field-content
                    padding: 20px
                    margin-top: 10px
                    text-align: justify
                    border-radius: 5px
                    border: 1px solid $color-border
                    +below($breakpoint2)
                        padding: 10px
                    .xem-cau-tra-loi
                        font: bold 16px $titlefont
                        color: $color-primary
                        cursor: pointer
                        margin-left: 10px
                        &:hover
                            text-decoration: underline
            .views-field-body
                display: none
                margin-top: 10px