@charset "UTF-8";
/*Breakpoints*/
/*Colors*/
/*background image control*/
/*No repeat*/
/*Repeat X*/
/*Repeat Y*/
/*block position control*/
/*block styles and layouts*/
/*Flexbox control*/
/*Block width responsive*/
/*block effects*/
/*image styles*/
.view-content .flexslider .slides li,
.view-content .views-row {
  position: relative;
}

.view-content .flexslider .slides li .views-field-edit-node,
.view-content .views-row .views-field-edit-node {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 25px;
  height: 25px;
  display: block;
  background: url(../images/icon-edit.svg) no-repeat center center;
  opacity: 0.9;
  background-size: 60% 60%;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.view-content .flexslider .slides li .views-field-edit-node:hover,
.view-content .views-row .views-field-edit-node:hover {
  opacity: 1;
}

.view-content .flexslider .slides li .views-field-edit-node a,
.view-content .views-row .views-field-edit-node a {
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0;
}

.article-list .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.article-list .view-content .views-row {
  margin-bottom: 30px;
}

.article-list .view-content .views-row .views-field-field-image {
  float: left;
  width: 30%;
  display: block;
}

.article-list .view-content .views-row .fieldset {
  float: left;
  width: 70%;
  display: block;
  padding-left: 20px;
}

.article-list .view-content .views-row .fieldset .views-field-title a {
  font: bold 17px/20px "myriad";
  color: #851095;
}

.article-list .view-content .views-row .fieldset .views-field-title a:hover {
  text-decoration: none;
}

.article-list .view-content .views-row .fieldset .views-field-body {
  margin-top: 10px;
  font: 13px/20px "Arial";
  color: #999;
  text-align: justify;
}

.article-list .view-content .views-row .fieldset .views-field-view-node {
  margin-top: 5px;
  text-align: left;
}

.article-list .view-content .views-row .fieldset .views-field-view-node a {
  opacity: 0.9;
  display: inline-block;
  font: 13px "Arial";
  color: #851095;
}

.article-list .view-content .views-row .fieldset .views-field-view-node a:hover {
  opacity: 1;
}

.article-list.hoidap {
  padding-top: 20px;
}

.article-list.hoidap .view-content {
  width: 70%;
  margin: 0 auto;
  display: block;
}

@media (max-width: 768px) {
  .article-list.hoidap .view-content {
    width: 100%;
  }
}

.article-list.hoidap .view-content .views-row {
  margin-bottom: 10px;
}

.article-list.hoidap .view-content .views-row .views-field-body-1,
.article-list.hoidap .view-content .views-row .views-field-body {
  color: #666;
  font-size: 15px;
}

.article-list.hoidap .view-content .views-row .views-field-body-1 .views-label,
.article-list.hoidap .view-content .views-row .views-field-body .views-label {
  font: bold 20px "myriad";
  color: #851095;
}

.article-list.hoidap .view-content .views-row .views-field-body-1 .field-content,
.article-list.hoidap .view-content .views-row .views-field-body .field-content {
  padding: 20px;
  margin-top: 10px;
  text-align: justify;
  border-radius: 5px;
  border: 1px solid #cacaca;
}

@media (max-width: 768px) {
  .article-list.hoidap .view-content .views-row .views-field-body-1 .field-content,
  .article-list.hoidap .view-content .views-row .views-field-body .field-content {
    padding: 10px;
  }
}

.article-list.hoidap .view-content .views-row .views-field-body-1 .field-content .xem-cau-tra-loi,
.article-list.hoidap .view-content .views-row .views-field-body .field-content .xem-cau-tra-loi {
  font: bold 16px "myriad";
  color: #851095;
  cursor: pointer;
  margin-left: 10px;
}

.article-list.hoidap .view-content .views-row .views-field-body-1 .field-content .xem-cau-tra-loi:hover,
.article-list.hoidap .view-content .views-row .views-field-body .field-content .xem-cau-tra-loi:hover {
  text-decoration: underline;
}

.article-list.hoidap .view-content .views-row .views-field-body {
  display: none;
  margin-top: 10px;
}

.clean-side-padding {
  padding-left: 0;
  padding-right: 0;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .active > a {
  border-radius: 5px 5px 0 0;
  background: #851095 !important;
}

.navbar {
  background: url(../images/headerbg.jpg) repeat-x center top;
  border: none;
  border-radius: 0;
  margin-bottom: 0;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.navbar .navbar-header .logo img {
  width: auto;
  height: 70px;
  display: block;
}

@media (max-width: 768px) {
  .navbar .navbar-header .logo img {
    width: auto;
    height: 50px;
    display: block;
  }
}

.navbar ul.menu {
  margin-top: 25px;
}

.navbar ul.menu a {
  font: 18px "myriad";
  color: #ffe245 !important;
  padding: 5px 10px;
}

.navbar ul.menu > li {
  margin-left: 10px;
}

.navbar ul.menu > li > a.active-trail {
  background: none;
  border-radius: 5px;
}

.navbar ul.menu > li > a.active-trail:hover {
  border-radius: 5px;
  background: #851095;
}

.navbar ul.menu > li.expanded:not(.open) > a.dropdown-toggle:hover {
  background: #851095;
  border-radius: 5px;
}

.navbar ul.menu > li > .dropdown-menu {
  border: none;
  background: #851095;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  padding: 0;
  overflow: hidden;
  border-radius: 0 5px 5px 5px;
}

.navbar ul.menu > li > .dropdown-menu li {
  margin-left: 0;
}

.navbar ul.menu > li > .dropdown-menu li a {
  font-size: 16px;
  padding: 10px 15px;
}

.navbar ul.menu > li > .dropdown-menu li a:focus, .navbar ul.menu > li > .dropdown-menu li a:hover {
  color: #851095;
  background: #5c0b67;
}

.navbar ul.menu > li > .dropdown-menu li.active > a {
  background: #851095;
}

.navbar ul.menu > .buy-button {
  margin-left: 15px;
}

.navbar ul.menu > .buy-button a {
  opacity: 0.9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe245), color-stop(#ab9000), to(#ffe245)) !important;
  background-image: linear-gradient(to bottom, #ffe245, #ab9000, #ffe245) !important;
  color: #fff !important;
  border-radius: 40px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
}

.navbar ul.menu > .buy-button a:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .navbar {
    background: #851095;
  }
  .navbar .icon-bar {
    height: 1px;
    background: #fff !important;
  }
  .navbar .navbar-toggle,
  .navbar .navbar-toggle:focus {
    background: none;
  }
  .navbar .navbar-collapse {
    padding: 0;
  }
  .navbar ul.menu {
    margin: 0;
  }
  .navbar ul.menu li a {
    font-size: 15px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .navbar ul.menu li.active a, .navbar ul.menu li:hover a, .navbar ul.menu li:focus a {
    background: none !important;
    color: #fff !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
  .navbar ul.menu li .dropdown-menu li a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.slideshow .flexslider,
.slideshow-hoidap .flexslider {
  border: none;
  margin-bottom: 0;
}

.slideshow .flexslider .flex-control-nav,
.slideshow-hoidap .flexslider .flex-control-nav {
  bottom: 20px;
  z-index: 10;
}

.slideshow .flexslider .flex-direction-nav a,
.slideshow-hoidap .flexslider .flex-direction-nav a {
  height: 60px;
}

.home-link {
  margin-top: 20px;
}

.home-link .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.home-link .view-content .views-row:nth-child(1),
.home-link .view-content .views-row:nth-child(4) {
  width: 100%;
}

.home-link .view-content .views-row:nth-child(2),
.home-link .view-content .views-row:nth-child(3) {
  width: 50%;
}

@media (max-width: 768px) {
  .home-link .view-content .views-row:nth-child(2),
  .home-link .view-content .views-row:nth-child(3) {
    width: 100%;
  }
}

.home-baiviet {
  margin-top: 20px;
}

.home-baiviet .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (min-width: 768px) {
  .home-baiviet .view-content .views-row {
    margin-bottom: 0;
  }
}

.home-baiviet .view-content .views-row .views-field-field-image {
  float: left;
  width: 35%;
  display: block;
}

.home-baiviet .view-content .views-row .fieldset {
  float: left;
  width: 65%;
  display: block;
}

@media (max-width: 768px) {
  .footerinfo {
    margin-bottom: 20px;
  }
}

.footerinfo .views-field-body {
  color: #fff;
}

.footerinfo .views-field-body p.icon {
  padding-left: 30px;
  background-size: 20px 20px !important;
}

.footerinfo .views-field-body p.icon.diachi {
  background: url(../images/icon-home1.svg) no-repeat left center;
}

.footerinfo .views-field-body p.icon.website {
  background: url(../images/icon-web1.svg) no-repeat left center;
}

.footerinfo .views-field-body p.icon.phone {
  background: url(../images/icon-phone1.svg) no-repeat left center;
}

.footerinfo .views-field-body p.icon.mail {
  background: url(../images/icon-mail1.svg) no-repeat left center;
}

.footerinfo .views-field-body p.icon.facebook {
  background: url(../images/icon-facebook1.svg) no-repeat left center;
}

.footerinfo .views-field-body a {
  color: #fff;
}

.footerinfo2 .views-field-body {
  color: #fff;
  text-align: right;
}

@media (max-width: 768px) {
  .fanpage {
    margin-bottom: 20px;
  }
}

.hotline-mobile {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  width: 120px;
  height: 120px;
  display: block;
}

@media (min-width: 768px) {
  .hotline-mobile {
    display: none !important;
  }
}

.hotline-mobile .view-content .views-row .views-field-field-custom-url a {
  width: 120px;
  height: 120px;
  display: block;
  background: url(../images/anim-phone.gif) no-repeat center center;
  background-size: 100% 100%;
}

#block-views-block-link-popup-home {
  display: none;
}

.block-views-block-link-popup-home-modal .spb_center {
  margin-left: -300px;
  margin-top: -250px;
}

.buy-helper {
  padding: 0 15%;
}

@media (max-width: 768px) {
  .buy-helper {
    padding: 0;
  }
}

.webform-submission-contact-form {
  width: 70%;
  margin: 0 auto;
  display: block;
  background: url(../images/headerbg.jpg) no-repeat center top;
  background-size: 100% 100%;
  border-radius: 5px;
  padding: 15px 30px 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .webform-submission-contact-form {
    padding: 20px 20px 10px;
    width: 100%;
  }
  .webform-submission-contact-form .form-item-name .form-text {
    margin-bottom: 15px;
  }
}

.webform-submission-contact-form .form-text, .webform-submission-contact-form .form-textarea, .webform-submission-contact-form .form-email {
  border-radius: 0;
  font: 18px "Arial";
  padding: 20px 10px;
  border-radius: 10px;
  border: 2px solid #851095;
}

.webform-submission-contact-form .form-actions {
  text-align: center;
}

.webform-submission-contact-form .form-actions .form-submit {
  opacity: 0.9;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe245), color-stop(#ab9000), to(#ffe245)) !important;
  background-image: linear-gradient(to bottom, #ffe245, #ab9000, #ffe245) !important;
  border: none;
  border-radius: 30px;
  font: 22px/45px "myriad";
  padding: 0 35px;
  color: #fff;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
}

.webform-submission-contact-form .form-actions .form-submit:hover {
  opacity: 1;
}

.hinh-anh-trang-hoi-dap {
  width: 70%;
  margin: 0 auto;
  display: block;
}

@media (max-width: 768px) {
  .hinh-anh-trang-hoi-dap {
    width: 100%;
  }
}

.hinh-anh-trang-hoi-dap .view-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.webform-submission-gui-cau-hoi-form {
  padding: 0 15%;
}

@media (max-width: 768px) {
  .webform-submission-gui-cau-hoi-form {
    padding: 0;
  }
}

.webform-submission-gui-cau-hoi-form .form-text, .webform-submission-gui-cau-hoi-form .form-textarea, .webform-submission-gui-cau-hoi-form .form-email {
  border: 1px solid #851095;
}

@media (max-width: 768px) {
  .webform-submission-gui-cau-hoi-form .form-text, .webform-submission-gui-cau-hoi-form .form-textarea, .webform-submission-gui-cau-hoi-form .form-email {
    margin-top: 10px;
  }
}

.webform-submission-gui-cau-hoi-form .form-actions {
  text-align: center;
}

.webform-submission-gui-cau-hoi-form .form-actions .form-submit {
  opacity: 0.9;
  background: #851095;
  border: none;
}

.webform-submission-gui-cau-hoi-form .form-actions .form-submit:hover {
  opacity: 1;
}

/*Trang chủ*/
.path-frontpage .page-header,
.path-frontpage article {
  display: none !important;
}

.path-frontpage .main-container {
  padding-bottom: 0px;
}

.path-frontpage .main-container .header-group {
  display: none !important;
}

.node--type-article {
  padding: 0 15%;
  text-align: justify;
  padding-bottom: 40px;
}

.node--type-article > .bs-region {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 768px) {
  .node--type-article {
    padding: 0;
    font-size: 16px;
  }
}

/*Danh sách SASS/CSS dành cho các modules*/
#countdown {
  width: 465px;
  margin: 0 auto;
  display: block;
  height: 112px;
  margin: 20px auto;
  text-align: center;
  background: #222;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222), color-stop(#333), color-stop(#333), to(#222));
  background-image: linear-gradient(top, #222, #333, #333, #222);
  border: 1px solid #111;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
  padding: 20px 0;
  position: relative;
}

#countdown #tiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 1;
}

#countdown #tiles > span {
  width: 21%;
  margin: 0 1.5%;
  padding: 18px 0;
  font: 48px "proximabold";
  text-align: center;
  color: #111;
  background-color: #ddd;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#eee));
  background-image: linear-gradient(top, #bbb, #eee);
  border-top: 1px solid #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
          box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
}

#countdown .labels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 8px;
}

#countdown .labels li {
  padding: 0;
  margin: 0;
  width: 21%;
  margin: 0 1.5%;
  font: 15px "proximabold";
  color: #999;
  text-shadow: 1px 1px 0px #000;
  text-align: center;
  text-transform: uppercase;
  list-style: none;
}

body {
  margin-top: 0;
}

body.navbar-is-fixed-top {
  margin-top: 86px;
}

@media (max-width: 768px) {
  body.navbar-is-fixed-top {
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

table {
  margin-bottom: 20px;
  border-color: #cacaca;
  border-radius: 5px;
  text-align: left;
}

@media (max-width: 768px) {
  table {
    width: 100% !important;
  }
}

table tr td {
  padding: 10px;
  border-color: #cacaca;
}

.page-header {
  font: bold 30px "myriad";
  margin-bottom: 30px;
  margin-top: 30px;
  border-bottom: 1px solid #cacaca;
  text-align: center;
}

@media (max-width: 768px) {
  .page-header {
    margin-top: 30px;
  }
}

h2 {
  margin-top: 30px;
  font: bold 25px "myriad";
  color: #851095;
}

.main-container {
  padding-bottom: 30px;
}

.tabs--primary {
  margin-bottom: 20px;
}

.footer-wrapper {
  background: url(../images/headerbg.jpg) no-repeat center top;
  background-size: 100% 100%;
  overflow: hidden;
  padding-top: 30px;
}

.footer-wrapper .footer {
  margin-top: 0;
  padding-top: 0;
  border: none;
}
/*# sourceMappingURL=style.css.map */