@import "variables"
@import "w3ateamlibs/lib-master"
@import "mixins"
@import "views"
@import "blocks"
@import "pages"
@import "modules"

body
    //Used for sticky top menu
    margin-top: 0
    &.navbar-is-fixed-top
        margin-top: 86px
        +below($breakpoint2)
            margin-top: 60px
.row
    +below($breakpoint2)
        margin-left: 0
        margin-right: 0
table
    margin-bottom: 20px
    border-color: $color-border
    border-radius: 5px
    text-align: left
    +below($breakpoint2)
        width: 100% !important
    tr
        td
            padding: 10px
            border-color: $color-border
.page-header
    font: bold 30px $titlefont
    margin-bottom: 30px
    margin-top: 30px
    border-bottom: 1px solid $color-border
    text-align: center
    +below($breakpoint2)
        margin-top: 30px
h2
    margin-top: 30px
    font: bold 25px $titlefont
    color: $color-primary

.main-container
    padding-bottom: 30px

.tabs--primary
    margin-bottom: 20px

.footer-wrapper
    +bgnorep-tc("headerbg.jpg")
    background-size: 100% 100%
    overflow: hidden
    padding-top: 30px
    .footer
        margin-top: 0
        padding-top: 0
        border: none
